<style>
header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    border-bottom: 3px solid #ff0077;
    border-top: 3px solid #ff0077;
}
.head {
    margin: 0;
    padding: 0;
}
.head ul{
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}
.head ul {
    background: black;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}
body,html,h1,h2,h3,h4,h5,a,p,li,ul{
    margin: 0px;
    padding: 0px;
}
.head li {
    list-style-type: none;
    font-size: 22px;
    float: left;
    margin: 10px 72px;
    color: wheat;
}
.head a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.head a:hover {
    color: #ff0077;
}
.bannerContainer{
    max-width: 100%;
    margin: 0 auto;
}

</style>
<header>
<div class="head">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</div>
</header>